h1 {
    font-size: 36px;
}

body {
    font-family: "Open Sans";
    background-color: black;
    color: burlywood;
}

.center {
    text-align: center;
}

.image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 200px;
}

#content {
    background-color: #cccccc;
    width: 500px;
    min-height: 300px;
    padding: 10px;
}
