/* Here we can set styles for this lab page that we don't want to effect others pages */
  h1 {
    text-align: center;
    color: navy;
    font-size: 200%;
  }

  body {
    background-color: #50C878;
  }

  .helloworld {
    font-size: 300%;
  }

  p {
    font-family: "Open Sans";
    text-indent: 20px;
    margin-left: 10px;
  }

  .intro {
    text-align: center;
    font-weight: bold;
  }

  #content {
    
    background-color: beige;
    width: 1000px;
    min-height: 300px;
    padding: 10px;
    margin: auto;
    border: dashed 1px #444444;
    font-size: 20px;
  }

  .image {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  
  .minor-section {
    padding: 10px;
    margin-bottom: 10px;
    border: solid 1px #888;
    background-color: lavender;
  }

  hr {
    color: black;
  }